<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Avtomobillar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}">
</head>
<body>
    <header>
        <h1>Avtomobillar</h1>
        <nav>
            <ul>
                <li><a href="/">Bosh sahifa</a></li>
                <li><a href="/avtomobillar">Avtomobillar</a></li>
                <li><a href="/kontaktlar">Kontaktlar</a></li>
            </ul>
        </nav>
    </header>
    <section id="suvlar">
        <h2>Categoriyalar</h2>
        {% for category in category %}

                <p><a href="/category_update/{{ category.id }}">{{ category.name }}</a></p>

        {% endfor %}
    </section>

    <footer>
        <p>&copy; 2024 Avto Salon</p>
    </footer>
</body>
</html>
